# ==========================================
# CONFIGURACIÓN PARA PRODUCCIÓN 
# ==========================================

# MongoDB Atlas 
MONGODB_URI=mongodb+srv://reyesvanessa940_db_user:Lalisa2703@carddial-bd.ejpsshx.mongodb.net/


JWT_SECRET=genera_un_token_seguro_aqui_minimo_32_caracteres


PORT=3000

# URLs de tus aplicaciones
FRONTEND_URL=https://tu-frontend.vercel.app
BACKEND_URL=https://tu-backend.up.railway.app

# Entorno
NODE_ENV=production

# Ruta para uploads (en Railway/Render usar /tmp/uploads)
UPLOADS_PATH=/tmp/uploads

# ==========================================
# CONFIGURACIÓN PARA DESARROLLO LOCAL
# ==========================================
# MONGODB_URI=mongodb://127.0.0.1:27017/CardDial
# JWT_SECRET=mi_clave_secreta_por_defecto_para_desarrollo
# NODE_ENV=development