@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #56ab91 #2d2a3e;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2a3e;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #56ab91;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3d7a67;
}